
* {
  box-sizing: border-box;
}

form * {
  display: block;
}
.add-form {
  margin-top: 10%;
}

.list-container, h1, .filter-add, .add-form {
  width: 95%;
  margin: 0 auto;
}

.filter-add {
  margin-top: 10px;
}

.bookmarks > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.js-item-element {
  display: block;
  color: grey;
  font-style: italic;
  margin-bottom: 15px;
  width: 20%;
}

.add-item {
  margin-top: 10px;
}

.error {
  color:red;
}

li:
