
* {
  box-sizing: border-box;
}

form * {
  display: block;
}
.add-form {
  margin-top: 10%;
}

.list-container, .filter-add, .add-form {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.filter-add {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bookmarks > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 5px;
  
  
  
}

.js-item-element {
  display: block;
  color: grey;
  font-style: italic;
  
  
}

.add-item {
  margin-top: 10px;
}

.error {
  color:red;
}

input[type=text], input[type=url], textarea {
  max-width: 100%;
  
}

main {
  width: 95%;
  margin: 0 auto;
}
h1 {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
}




